body{
    margin: 0%;
    background-color: rgb(253, 245, 247);
}

.centro{
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.imagem img{
    max-width: 300px;
}

.texto{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-size: 0.8rem;
    color: grey;
}
h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(59, 59, 59);
}
